.navbar{
    background-color: #001F36;
}

body{
    font-family: Arial;
    background-color: #1C5560 !important;
}

.navbar a{
    color: #FBFFCD;
    font-size: 20px;
}

.navbar .navbar-brand{
    color: #79AE92;
}

.navbar .btn{
    background-color: #000;
}

h1{
    color: #fff !important;
    padding-top: 30px;
    padding-left: 40px;
    font-size: 40px;
}

.paragrafo1{
    color:#FBFFCD;
    padding-top: 30px;
    padding-left: 40px;
    font-size: 20px;
}

.paragrafo2{
    padding-top: 30px;
    padding-left: 40px;
    margin-bottom: 0px;
    font-size: 20px;
    color:#000
}

.introducao img{
    width: 692px;
    float: right;
}

.consulta .btn{
    background-color: #000;
    color: #FBFFCD;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 40px;
    margin-bottom: 30px;
}

.sobre{
    background-color: #001F36;
}

.sobre img{
    float: right;
    width: 600px;
    padding-top: 200px;
    padding-right: 100px;
}

.sobre h2{
    color: #fff;
    padding-top: 30px;
    padding-left: 40px;
    padding-bottom: 40px;
}

.sobre p{
    color:#FBFFCD;
    padding-top: 30px;
    padding-left: 40px;
    padding-bottom: 40px;
    font-size: 20px;
    margin: 0px;
}

.card .card-body{
    background-color:#001F36;
}

.card .card-title, .card-text{
    color: #FBFFCD;
    padding-top: 10px;
}

.grid_style{
    color: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
}

.card{
    margin-top: 60px;
    margin-bottom: 60px;
}

.registro{
    background-color: #001F36;
}

.registro h3{
    color: #fff;
    padding-top: 80px;
    padding-bottom: 20px;
}

.registro img{
    width: 200px;
    border-radius:100%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.registro .btn{
    background-color: #000;
    color: #FBFFCD;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 80px;
}

.mais_infos1 .carousel{
    width: 500px;
    float: left;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
}

.mais_infos1 h4{
    color: #FBFFCD;
    font-size: 40px;
}

.mais_infos1, h4{
    display: flex;
    padding-left: 50px;
    padding-top: 150px;
}

.mais_infos2 .carousel{
    width: 500px;
    float: right;
    margin-top: 50px;
    margin-bottom: 50px;
}

.mais_infos2 h6{
    color: #FBFFCD;
    font-size: 40px;
}

.mais_infos2, h6{
    padding-top: 150px;
    float: right;
    display: flex;
    padding-right: 190px;
}

.contato{
    background-color: #000;
    color: #FBFFCD;
    display: flex;
    padding-bottom: 60px;
    margin-bottom: 30px;
}

.contato h2{
    padding-top: 80px;
    padding-left: 200px;
}

.final{
    background-color: #001F36;
}

.final h5{
    color: #79AE92;
}

.final p{
    color: #FBFFCD;
}

.final li{
    color: #FBFFCD;
    list-style: none;
    text-decoration: none;
    padding-top: 20px;
}

.final a{
    text-decoration: none;
    color: #FBFFCD !important;
}

html{
    scroll-behavior: smooth;
}
